.container {
    position: relative;
}

/* ボタンをキャンバス上に配置 */

input{
    position: absolute;
    left: 13%;
    transform: translate(-50%, -50%); /* 中央揃え */
    padding: 10px 20px;
    font-size: 16px;
}
.button {
    top: 30%; 
}
.button2 {
    top: 50%; 
}
.button3 {
    top: 70%; 
}
.player{
    position: absolute;
    left: 5%;
    top:18%;
}   

.notice{
    position: absolute;
    top: 15%;
    right: 40%;
}

.friend{
    position: absolute;
    top: 15%;
    right: 30%;
}
.Logout{
    position: absolute;
    top: 15%;
    right: 20%;
}