.container {
    position: relative;
}

/* ボタンをキャンバス上に配置 */

input{
    position: absolute;
    transform: translate(-50%, -50%); /* 中央揃え */
    padding: 10px 20px;
    font-size: 16px;
}
.button {
    left: 13%;
    top: 30%; 
}
.button2 {
    left: 13%;
    top: 50%; 
}
.button3 {
    left: 13%;
    top: 70%; 
}
.player{
    position: absolute;
    left: 5%;
    top:18%;
}   


.notice{
    position: absolute;
    top: 15%;
    right: 40%;
}

.friend{
    position: absolute;
    top: 15%;
    right: 26%;
}
.Logout{
    position: absolute;
    top: 15%;
    right: 10%;
}

.table{
    position: absolute;
    top: 20%;
    right: 30%;
}

table {
    background-color: #cdefff;  /* 背景色指定 */
}

th {
    font-size: 16px;
    background-color: #00e2cf;  /* 背景色指定 */
}
td {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #00e2cf;  /* 背景色指定 */
}