@media (orientation: portrait) {
    body {
        transform: rotate(90deg);
        transform-origin: top left;
        width: 100vh;
        height: 100vw;
        overflow: hidden;
    }
}
.container {
    position: relative;
}

/* ボタンをキャンバス上に配置 */

input{
    position: absolute;
    transform: translate(-50%, -50%); /* 中央揃え */
    padding: 10px 20px;
    font-size: 16px;
}

.button {
    left: 13%;
    top: 30%; 
}
.button2 {
    left: 13%;
    top: 50%; 
}
.button3 {
    left: 13%;
    top: 70%; 
}
.player{
    position: absolute;
    left: 5%;
    top:18%;
}   


.notice{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10%;
    right: 40%;
}

.friend{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10%;
    right: 26%;
}
.Logout{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10%;
    right: 10%;
}

.table{
    position: absolute;
    top: 15%;
    right: 17%;
}

.table_title{
    text-align: center;
}

table {
    background-color: #cdefff;  /* 背景色指定 */
}

th {
    font-size: 10px;
    padding: 7px 20px;
    background-color: #00e2cf; /* 背景色指定 */
    text-align: center;
}
td {
    text-align: center;
    font-size: 10px;
    padding: 7px 20px;
    background-color: #00e2cf;  /* 背景色指定 */
}